@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
    <body>
        Hello!! This is my
        <b>first View</b>
        <br/>
        <p>Welcome GitHub Desktop - CICD Pipeline</p>
        @*@TempData["Location"]*@
    </body>
    </html>
}
